<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="74" android:versionName="3.6.3" package="com.memory.brain.training.games" platformBuildVersionCode="24" platformBuildVersionName="7.0">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="24" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.memory.brain.training.games.C2D_MESSAGE" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.memory.brain.training.games.permission.C2D_MESSAGE" android:protectionLevel="signature|signatureOrSystem" />
    <uses-permission android:name="com.memory.brain.training.games.permission.C2D_MESSAGE" />
    <application android:theme="@style/GdxTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name="com.cube.memorygames.MemoryApplicationModel" android:allowBackup="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_hmFaILWAZiXvfrXQiXPdNjahFFcQvu4g" />
        <activity android:label="@string/app_name" android:name="com.cube.memorygames.games.Game1MemoryGridActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.MainMenuActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/SplashTheme" android:name="com.cube.memorygames.SplashActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="cubememorygames" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name="com.cube.memorygames.games.Game2RotatingGridActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game3HexagonsActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game4WhoNewActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game5CountAllActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game6FollowThePathActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game7ImageVortexActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game8CatchThemActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game9FindThePictureActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game10OneAndOnlyActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game11CorrectlyActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game12MoreLessActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game13AllTheSameActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game14SortTheDigitsActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game15PaperPlanesActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game16LikePreviousActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game17_248Activity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game18PyramidsActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game19FindAllActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game20ColorsActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game21SymmetryActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game22MirrorsActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.games.Game23TableActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.cube.memorygames.TopRanksActivity" android:screenOrientation="portrait" />
        <activity android:name="com.cube.memorygames.TrophiesActivity" android:screenOrientation="portrait" />
        <activity android:name="com.cube.memorygames.StartGameActivity" android:screenOrientation="portrait" />
        <activity android:name="com.cube.memorygames.activity.OnlineGameTutorialActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/Translucent" android:name="com.cube.memorygames.LoginActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize|adjustNothing" />
        <activity android:name="com.cube.memorygames.activity.PlayOnlineActivity" android:screenOrientation="portrait" />
        <activity android:name="com.cube.memorygames.activity.OnlineHistoryActivity" android:screenOrientation="portrait" />
        <activity android:name="com.cube.memorygames.activity.OnlineTutorialActivity" android:screenOrientation="portrait" />
        <activity android:name="com.cube.memorygames.activity.NoInternetActivity" android:screenOrientation="portrait" />
        <activity android:name="com.cube.memorygames.activity.ProfileActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize" />
        <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" />
        <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" android:enabled="true" />
        <receiver android:name="com.cube.memorygames.NotificationBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.cube.memorygames.ACTION_CANCEL" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cube.memorygames.ACTION_PLAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cube.memorygames.ACTION_PLAY_REMINDER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cube.memorygames.ACTION_VIEW" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cube.memorygames.reminder.ReminderBroadcastReceiver" android:enabled="true" />
        <receiver android:name="com.cube.memorygames.reminder.DeviceBootReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <provider android:name="com.facebook.FacebookContentProvider" android:exported="true" android:authorities="com.facebook.app.FacebookContentProvider462325413962189" />
        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <meta-data android:name="AA_DB_VERSION" android:value="16" />
        <meta-data android:name="com.appodeal.framework" android:value="android" />
        <receiver android:name="com.appodeal.ads.AppodealPackageAddedReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="com.appodeal.ads.InterstitialActivity" android:configChanges="orientation|screenSize" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="com.appodeal.ads.VideoActivity" android:configChanges="orientation|screenSize" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="com.appodeal.ads.LoaderActivity" android:configChanges="orientation|screenSize" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity android:theme="@*android:style/Theme.Translucent" android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.chartboost.sdk.CBImpressionActivity" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" />
        <activity android:theme="@*android:style/Theme.Translucent" android:name="com.applovin.adview.AppLovinInterstitialActivity" />
        <activity android:theme="@*android:style/Theme.Translucent" android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@*android:style/Theme.Translucent" android:name="org.nexage.sourcekit.mraid.MRAIDBrowser" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity android:name="com.amazon.device.ads.AdActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.my.target.ads.MyTargetActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:hardwareAccelerated="true" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="org.nexage.sourcekit.vast.activity.VASTActivity" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="org.nexage.sourcekit.vast.activity.VPAIDActivity" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.appodeal.ads.networks.vpaid.VPAIDActivity" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.appodeal.ads.networks.SpotXActivity" />
        <activity android:name="com.facebook.ads.InterstitialAdActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.unity3d.ads.adunit.AdUnitActivity" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale" android:hardwareAccelerated="true" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale" android:hardwareAccelerated="false" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.unity3d.ads2.adunit.AdUnitActivity" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale" android:hardwareAccelerated="true" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.unity3d.ads2.adunit.AdUnitSoftwareActivity" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale" android:hardwareAccelerated="false" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.jirbo.adcolony.AdColonyOverlay" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.jirbo.adcolony.AdColonyFullscreen" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.jirbo.adcolony.AdColonyBrowser" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.vungle.publisher.FullScreenAdActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@*android:style/Theme" android:name="com.startapp.android.publish.list3d.List3DActivity" />
        <activity android:theme="@*android:style/Theme.Translucent" android:name="com.startapp.android.publish.OverlayActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@*android:style/Theme" android:name="com.startapp.android.publish.FullScreenActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <service android:name="com.yandex.metrica.MetricaService" android:enabled="true" android:exported="true" android:process=":Metrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.yandex.metrica.IMetricaService" />
                <data android:scheme="metrica" />
            </intent-filter>
            <meta-data android:name="metrica:api:level" android:value="44" />
        </service>
        <receiver android:name="com.yandex.metrica.MetricaEventHandler" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <activity android:name="com.yandex.mobile.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name="com.flurry.android.FlurryFullscreenTakeoverActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.appodeal.ads.VideoPlayerActivity" />
        <activity android:theme="@*android:style/Theme.Translucent" android:name="com.revmob.FullscreenActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.tapjoy.TJAdUnitActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" />
        <activity android:name="com.tapjoy.mraid.view.ActionHandler" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.tapjoy.mraid.view.Browser" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="com.tapjoy.TJContentActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" />
        <service android:name="com.cube.memorygames.pushes.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.cube.memorygames.pushes.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false" />
        <activity android:theme="@style/Theme.IAPTheme" android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" />
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.memory.brain.training.games" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
        <service android:name="com.google.firebase.iid.FirebaseInstanceIdService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.memory.brain.training.games.firebaseinitprovider" android:initOrder="100" />
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false" />
        <activity android:name="com.facebook.CustomTabMainActivity" />
        <provider android:name="com.facebook.internal.FacebookInitProvider" android:exported="false" android:authorities="com.memory.brain.training.games.FacebookInitProvider" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.cmcm.picks.PicksLoadingActivity" android:taskAffinity="com.cmcm.adsdk.nativead" android:launchMode="singleTask" />
        <activity android:theme="@style/cm_interstital" android:name="com.cmcm.adsdk.interstitial.PicksInterstitialActivity" android:launchMode="singleTask" />
        <activity android:theme="@*android:style/Theme.Black.NoTitleBar.Fullscreen" android:name="com.cmcm.picks.webview.PicksBrowser" android:launchMode="singleTask" />
        <service android:name="com.cmcm.picks.init.DownloadService" android:exported="false" android:process=":PickService" />
        <activity android:name="com.cmcm.picks.vastvideo.FullScreenVideoActivity" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="landscape" />
        <meta-data android:name="io.fabric.ApiKey" android:value="e02d7655418394e30fbd0554833086f05821cbb7" />
    </application>
</manifest>
